
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://hsdown.blob.core.chinacloudapi.cn/upload/hesaiviewer.ipa?st=2018-11-26T07%3A45%3A32Z&se=2028-11-27T07%3A45%3A00Z&sp=rl&sv=2018-03-28&sr=b&sig=KbPh5JZ3QLbx2TfAX%2BatvqMSQUEAQnejo80VhcXi3gA%3D</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.hesaitech.viewerapp</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>install app</string>
                <key>title</key>
                <string>Hesai Viewer</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
